name: Build PBFT MPI (C)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install MPI
        run: sudo apt-get update && sudo apt-get install -y libopenmpi-dev openmpi-bin

      - name: Compile project
        run: |
          mpicc -o pbft_mpi *.c

      - name: Run basic test
        run: |
          mpirun --oversubscribe -np 4 ./pbft_mpi
